<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/admin/assets/imgs/theme/logo.png"
    />
    <!-- Template CSS -->
    <link
      href="/admin/assets/css/main.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/admin/assets/css/style.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
  .table tbody tr {
    margin-bottom: 20px; /* Adjust the value as needed */
  }
</style>
  </head>

  <body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
      <div class="aside-top">
        <a href="index.html" class="brand-wrap">
          <img
            src="/admin/assets/imgs/theme/logo.png"
            class="logo"
            alt="getantiques"
          />
        </a>
        <div>
          <button class="btn btn-icon btn-aside-minimize">
            <i class="text-muted material-icons md-menu_open"></i>
          </button>
        </div>
      </div>

<nav>
  <ul class="menu-aside">
    <li class="menu-item">
      <a class="menu-link" href="/admin/dashboard">
        <i class="icon material-icons md-home"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="/admin/category">
        <i class="icon material-icons md-shopping_bag"></i>
        <span class="text">Categories</span>
      </a>
    </li>
    <li class="menu-item ">
      <a class="menu-link" href="/admin/user">
        <i class="icon material-icons md-store"></i>
        <span class="text">Users</span>
      </a>
    </li>
    <li class="menu-item ">
      <a class="menu-link" href="/admin/product">
        <i class="icon material-icons md-add_box"></i>
        <span class="text">Products</span>
      </a>
    </li>
    <li class="menu-item active">
      <a class="menu-link" href="/admin/order">
        <i class="icon material-icons md-store"></i>
        <span class="text">Orders</span>
      </a>
    </li>
     <!-- WILL ADD IT IN COMING WEEK  -->
    
    <li class="menu-item">
          <a class="menu-link" href="/admin/coupon">
            <i class="icon material-icons md-article"></i>
            <span class="text">Coupons</span>
          </a>
        </li>
  <br />
  <br />
</nav>
</aside>
    <main class="main-wrap">
      <header class="main-header navbar">
        <div class="col-search">
          
        </div>
        <div class="col-nav" onload="timeCount();">
          <p id="p1">
            
          </p>
      
  </div>
        <div class="col-nav">
          
          <p>
            
            Welcome back, <%=name %> </p>
      
  </div>


        <div class="col-nav">
              <li class="dropdown nav-item">
                <button class="btn btn-link" type="submit"> <a href="/admin/signout" ><i class="material-icons md-exit_to_app"></i>Logout</a></button>
            
              </li>
          </ul>
      </div>

      </header>
      <section class="content-main">
        <div class="content-header">
          <div>
            <h2 class="content-title card-title">Order Details</h2>
            <p>Fetch the details of the current orders here.</p>
          </div>
        </div>
        
        <!-- card-header end// --><br>
        <h5>ORDER # : <span style="color: red;" id="orderID"><%=eachOrderDetails.orderID %></span></h5><br>
        <h6>DATE OF ORDER : <span style="color: red;"><%=eachOrderDetails.date.toLocaleString() %></span></h6><br>
        <p>SHIPPING ADDRESS: <span style="color: red;"><%=eachOrderDetails.address.customerName %></span>, 
        <span style="color: red;"><%=eachOrderDetails.address.houseName %>, <%=eachOrderDetails.address.street %>,</span>
        <span style="color: red;"><%=eachOrderDetails.address.city %>, <%=eachOrderDetails.address.state %>,</span>
        <span style="color: red;"><%=eachOrderDetails.address.country %> - <%=eachOrderDetails.address.pincode %></span>
        <span style="color: red;">|||      <%=eachOrderDetails.address.mobile %></span>
    
        </p>
        <% if(eachOrderDetails.discount>0){ %>
        <p> <span>Coupon Used & </span>
        COUPON REDUCTION: <%=eachOrderDetails.discount %></p>
        <% } %>
        <div class="card">
        <div class="card-body">
          <div class="row">
            
            <div class="container mt-6">
              <div class="row">
                <table class="table table-hover" width="50%>">
                  <tr>
                  <th style="color:rgb(154, 87, 144);font-size:medium; text-align: center; ">Product Image</th>
                    <th style="color:rgb(154, 87, 144);font-size:medium; text-align: center; ">Product Name</th>
                    <th style="color:rgb(154, 87, 144);font-size:medium; text-align: center; ">Quantity</th>
                    <th style="color:rgb(154, 87, 144);font-size:medium; text-align: center; ">Price</th>
                    <th style="color:rgb(154, 87, 144);font-size:medium; text-align: center; ">Total Price</th>
                    <th style="color:rgb(154, 87, 144);font-size:medium; text-align: center; ">Status</th> 
                    
                  </tr>
                   <% for(let i=0;i<orderData.length;i++) { %>
                  <tr>
                  <td style="text-align: center;"><img src="<%=orderData[i].productImage %>" height="80px" width="80px" ></td>
                    <td style="text-align: center;"><%=orderData[i].productName %></td>
                    <td style="text-align: center;"><%=orderData[i].productCartQuantity %> </td>
                     <td style="text-align: center;"><%=orderData[i].productPrice %> </td>
                    <td style="text-align: center;"><%=orderData[i].total %></td>
                    <form action="/admin/updateOrderStatus" method="post">
                    <input type="hidden" value="<%=eachOrderDetails.orderID  %>" name="orderID">
                    <input type="hidden" value="<%=orderData[i].productID %>" name="productID">
                    <td style="text-align: center;">
                    
                    <% if(eachOrderDetails.paymentStatus == 'Failed'){%>
                    <select name="status" id="orderStatus">
                    <!-- <p>Payment Failed</p> -->
                    <option value="Payment Failed" selected disabled>Payment Failed</option>
                    </select>
                    <% } else if(orderData[i].productStatus == 'Return Initiated'){%>
                    <p>Return Initiated</p> <p> <span style="background-color: yellow;">Reason: <%=orderData[i].productReason%> </span></p>
                    
                     <% } else if(orderData[i].productStatus == 'Return Accepted'){%>
                    <p>Return Accepted</p> <p> <span style="background-color: yellow;">Reason: <%=orderData[i].productReason%> </span></p>
                    
                      <% } else if(orderData[i].productStatus == 'Return Rejected'){%>
                    <p>Return Rejected</p> <p> <span style="background-color: yellow;">Reason: <%=orderData[i].productReason%> </span></p>
                     
                      <%} else if(orderData[i].productStatus == 'Placed'){%>
                    <select name="status" id="orderStatus">
                    <option value="Placed"  selected>Placed</option>
                    <option value="Shipped"  >Shipped</option>
                    <option value="Out for Delivery" >Out for Delivery</option>
                    <option value="Delivered" >Delivered</option>
                    </select>
                    <% } else if(orderData[i].productStatus == 'Shipped'){ %>
                    <select name="status" id="orderStatus">
                    <option value="Shipped" selected  >Shipped</option>
                    <option value="Out for Delivery" >Out for Delivery</option>
                    <option value="Delivered" >Delivered</option>
                    </select>
                    <% } else if(orderData[i].productStatus == 'Out for Delivery'){ %>
                    <select name="status" id="orderStatus">
                    <option value="Out for Delivery" selected >Out for Delivery</option>
                    <option value="Delivered" >Delivered</option>
                    </select>
                    <% } else if(orderData[i].productStatus == 'Delivered'){ %>
                    <select name="status" id="orderStatus">
                    <option value="Delivered" selected >Delivered</option>
                    </select>
                    <% } else if(orderData[i].productStatus == 'Cancelled'){ %>
                    <select name="status" id="orderStatus">
                    <option value="Cancelled" selected disabled>Cancelled</option>
                    </select>
                    <% }  %>
                    <% if((orderData[i].productStatus == 'Placed')||(orderData[i].productStatus == 'Shipped')||(orderData[i].productStatus == 'Out for Delivery')){ %>
                    <button type="submit" style="background-color: #007bff; color: #ffffff;">Update</button>
                    <% } else if((orderData[i].productStatus == 'Delivered') || (orderData[i].productStatus == 'Cancelled')) { %>
                    <button type="submit" style="background-color: #007bff; color: #ffffff;" hidden>Update</button>
                    <% } %>
                    </td>
                    </form>
                    
                  </tr>
                  <% } %>
                  
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
     
        <!-- row.// -->
        <!-- <div class="pagination-area mt-15 mb-50">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
              <li class="page-item active">
                <a class="page-link" href="#">01</a>
              </li>
               <li class="page-item"><a class="page-link" href="#">02</a></li>
              <li class="page-item"><a class="page-link" href="#">03</a></li>
              <li class="page-item">
                <a class="page-link dot" href="#">...</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">16</a></li> 
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="material-icons md-chevron_right"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div> -->
      </section>
      <!-- content-main end// -->
    <%- include ('partialsAdminFooter') %>


    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    
  </body>
</html>
