  <%- include ('partialsAdminHead') %>
    <nav>
        <ul class="menu-aside">
          <li class="menu-item">
            <a class="menu-link" href="/admin/dashboard">
              <i class="icon material-icons md-home"></i>
              <span class="text">Dashboard</span>
            </a>
          </li>
          <li class="menu-item active">
            <a class="menu-link" href="/admin/category">
              <i class="icon material-icons md-shopping_bag"></i>
              <span class="text">Categories</span>
            </a>
          </li>
          <li class="menu-item ">
            <a class="menu-link" href="/admin/user">
              <i class="icon material-icons md-store"></i>
              <span class="text">Users</span>
            </a>
          </li>
          <li class="menu-item ">
            <a class="menu-link" href="/admin/product">
              <i class="icon material-icons md-add_box"></i>
              <span class="text">Products</span>
            </a>
          </li>
           <li class="menu-item">
            <a class="menu-link" href="/admin/order">
              <i class="icon material-icons md-store"></i>
              <span class="text">Orders</span>
            </a>
          </li>
          <li class="menu-item">
          <a class="menu-link" href="/admin/coupon">
            <i class="icon material-icons md-article"></i>
            <span class="text">Coupons</span>
          </a>
        </li>
        <br />
        <br />
      </nav>
    </aside>
    <main class="main-wrap">
      <header class="main-header navbar">
        <div class="col-search">

        </div>
        <div class="col-nav" onload="timeCount();">
          <p id="p1">
            
          </p>
      
      </div>
        <div class="col-nav">
          
          <p>
            
            Welcome back, <%=name %> </p>
      
  </div>


        <div class="col-nav">
              <li class="dropdown nav-item">
                <button class="btn btn-link" type="submit"> <a href="/admin/signout" ><i class="material-icons md-exit_to_app"></i>Logout</a></button>
            
              </li>
          </ul>
      </div>
        
      </header>
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Categories</h2>
          <p>Add, update or pause category here.</p>
        </div>
        <!-- <a href="/admin/newCategory" class="btn btn-primary btn-sm rounded">New Category</a> -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCatModal">
          New Category
        </button>
        
        <!-- Add Category: Modal -->

         <div class="modal fade" id="addCatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ADD CATEGORY</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/admin/addCategory" method="post">
                  <label style="color:brown">Category Name</label>
                  <input class="form-control" placeholder="Enter the category name" v-model:value="catName" pattern="[A-Za-z0-9]+" name="catName" minlength="3"
                      required onkeydown="if(['Space'].includes(arguments[0].code)){return false;} ">
                      <!-- <input @keydown.space.prevent type="text"
                      class="form-control"
                      placeholder="Enter the category name"
                      name="catName" minlength="3"
                      required 
                      />  -->
                      <br>
                  <label style="color:brown">Description</label>
                      <br>
                      <input
                      class="form-control"
                      placeholder="Add a description for the category"
                      type="text"
                      name="catDesc" minlength="8"
                      required
                      />
                      <br>
                      <button class="btn btn-outline-primary">Add</button>
                </form>
              </div>
              
            </div>
          </div>
        </div> 
        
        <!-- End of Modal -->

          </div>
        </div>
        <header class="card card-body mb-4">
          <div class="row gx-3">
            <div class="col-lg-3 col-md-5 me-auto">
        <form action="/admin/searchCat" method="post">
        <%# if(value){%>
              <input type="text" placeholder="Search for a category" class="form-control-lg" id="searchCat" name="searchCat" value="" />
              <%#}%>
              <button type="submit" class="btn btn-success mt-3 ml-2">Search</button>
                </form>
                <div class="container">
             <%  if(catAvailable){ %>
            <h4 class="text-danger mt-5 text-right" id="catAvailable">Category already available</h4>
            <% } %>
            </div>
            </div>
            
        </div>
        </header>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            
            <div class="container mt-5">
              <div class="row">
                <table class="table table-striped" width="50%>">
                  <tr>
                    <th style="color:tomato;font-size: large; text-align: center; ">NAME</th>
                    <th style="color:tomato;font-size: large; text-align: center; width: 240px; ">DESCRIPTION</th>
                    <!-- <th>Mobile</th> -->
                    <th style="color:tomato;font-size: large; text-align: center; ">EDIT</th>
                    <th style="color:tomato;font-size: large; text-align: center; ">OFFER</th>
                    <th style="color:tomato;font-size: large; text-align: center; ">HIDE</th>
                  </tr>
                  <% for(let c of category) { %>
                  <tr>
                    <td style="text-align: center;"><%=c.name%></td>
                    <td style="text-align: center;" class="description" title="<%=c.description %>"><%=c.description %> </td>
                    <td style="text-align: center;">
                      <form action="/admin/categoryEdit/<%=c.name%>" method="post">
                        <input type="hidden" value="<%=c.name%>" name="oldCategory">
                        <input type="hidden" value="<%=c.description %>" name="oldDescription">
                        <button class="btn btn-success" type="submit">Edit</button>                       
                      </form>
                    </td>
                    <td style="text-align: center;">
                    <% if(c.offer > 0) { %>
                        <button class="btn btn-success" type="button" disabled><%=c.offer%>% Applied</button> 
                        <% } else if (c.offer == 0){ %>
                        <button class="btn btn-danger" type="button" disabled>No Offer</button> 
                        <% } %>                      
                    </td>
                    <td style="text-align: center;">
                      <form action="">
                        <input
                          type="hidden"
                          name="username"
                          value=""
                        />
                        <button
                    style="background-color:red;"
                      type="button"
                      id="<%=c._id %>"
                      onclick="toggleFunction()"
                    >
                    Hide
                  </button>
                      </form>
                    </td>
                  </tr>
                  <% } %>
                  
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-start">
            <li class="page-item active">
              <a class="page-link" href="#">01</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">02</a></li>
            <li class="page-item"><a class="page-link" href="#">03</a></li>
            <li class="page-item">
              <a class="page-link dot" href="#">...</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">16</a></li>
            <li class="page-item">
              <a class="page-link" href="#"
                ><i class="material-icons md-chevron_right"></i
              ></a>
            </li>
          </ul>
        </nav>
      </div> -->
    </section>
    <%- include ('partialsAdminFooter') %>
    <script>
      // Function to be executed when the toggle button is clicked

      function toggleFunction() {
        var toggleButton = document.getElementById(c._id);
        if (toggleButton.innerHTML === "Show") {
          toggleButton.innerHTML = "Hide";
          toggleButton.style.backgroundColor="Red";
          var hide=1;

          
        } else {
          toggleButton.innerHTML = "Show";
          toggleButton.style.backgroundColor="Green";
          var hide=0;
        }
      }

      setTimeout(()=>{
        let a=document.getElementById("catAvailable");
        a.style.display='none';
      },2500)



    </script>
  </body>
</html>
    