<%- include ('partialsAdminHead') %>
<nav>
  <ul class="menu-aside">
    <li class="menu-item">
      <a class="menu-link" href="/admin/dashboard">
        <i class="icon material-icons md-home"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="/admin/category">
        <i class="icon material-icons md-shopping_bag"></i>
        <span class="text">Categories</span>
      </a>
    </li>
    <li class="menu-item ">
      <a class="menu-link" href="/admin/user">
        <i class="icon material-icons md-store"></i>
        <span class="text">Users</span>
      </a>
    </li>
    <li class="menu-item ">
      <a class="menu-link" href="/admin/product">
        <i class="icon material-icons md-add_box"></i>
        <span class="text">Products</span>
      </a>
    </li>
    <li class="menu-item active">
      <a class="menu-link" href="/admin/order">
        <i class="icon material-icons md-store"></i>
        <span class="text">Orders</span>
      </a>
    </li>
     <!-- WILL ADD IT IN COMING WEEK  -->
    
    <li class="menu-item">
          <a class="menu-link" href="/admin/coupon">
            <i class="icon material-icons md-article"></i>
            <span class="text">Coupons</span>
          </a>
        </li>
  <br />
  <br />
</nav>
</aside>
    <main class="main-wrap">
      <header class="main-header navbar">
        <div class="col-search">
          <!-- <form class="searchform">
            <div class="input-group">
              <input
                list="search_terms"
                type="text"
                class="form-control"
                placeholder="Search term"
              />
              <button class="btn btn-light bg" type="button">

                <i class="material-icons md-search"></i>
              </button>
            
            </div>
            <datalist id="search_terms">
              
            </datalist>
          </form> -->
        </div>
        <div class="col-nav" onload="timeCount();">
          <p id="p1">
            
          </p>
      
  </div>
        <div class="col-nav">
          
          <p>
            
            Welcome back, <%=name %> </p>
      
  </div>


        <div class="col-nav">
              <li class="dropdown nav-item">
                <button class="btn btn-link" type="submit"> <a href="/admin/signout" ><i class="material-icons md-exit_to_app"></i>Logout</a></button>
            
              </li>
          </ul>
      </div>

      </header>
      <section class="content-main">
        <div class="content-header">
          <div>
            <h2 class="content-title card-title">Orders</h2>
            <p>Fetch order information here.</p>
          </div>
          <!-- <div>
            
            <a href="/admin/addProduct" class="btn btn-primary btn-sm rounded">Add Product</a>
          </div> -->
        </div>
        <header class="card card-body mb-4">
          <div class="row gx-3">
            <div class="col-lg-4 col-md-6 me-auto">
              <!-- <form action="/admin/searchProduct" method="post">
        <%# if(value){%>
              <input type="text" placeholder="Search orders" class="form-control-lg" id="searchProduct" name="searchProduct" value="" />
              <%#}%><br>
              <button type="submit" class="btn btn-success mt-3 ml-2">Search</button>
                </form> -->
            </div>
          </div>
        </header>
        <!-- card-header end// -->
        <div class="card">
        <div class="card-body">
          <div class="row">
            
            <div class="container mt-6">
              <div class="row">
                <table class="table table-striped" width="50%>">
                  <tr>
                  <th style="color:tomato;font-size:small; text-align: center; ">Order ID</th>
                    <th style="color:tomato;font-size:small; text-align: center; ">User Name</th>
                    <th style="color:tomato;font-size:small; text-align: center; ">Date of Order</th>
                    <th style="color:tomato;font-size:small; text-align: center; ">Product Count</th>
                    <th style="color:tomato;font-size:small; text-align: center; ">Total Price<sup>*</sup></th>
                    <!-- <th style="color:tomato;font-size:small; text-align: center; ">Status</th> -->
                    <th style="color:tomato;font-size:small; text-align: center; ">Payment</th>
                     <th style="color:tomato;font-size:small; text-align: center; ">Payment Status</th>
                   <!--<th style="color:tomato;font-size:small; text-align: center; ">Edit</th>-->
                    <th style="color:tomato;font-size:small; text-align: center; ">More</th> 
                    
                  </tr>
                   <% for(let i=0;i<orderDetails.length;i++) { %>
                  <tr>
                  <td style="text-align: center;"><%=orderDetails[i].orderID %></td>
                    <td style="text-align: center;"><%=orderDetails[i].user %></td>
                    <td style="text-align: center;"><%=orderDetails[i].date.toLocaleString() %> </td>
                     <td style="text-align: center;"><%=orderDetails[i].products.length %> </td>
                    <td style="text-align: center;"><%=orderDetails[i].totalOrderValue %></td>
                    
                    <td style="text-align: center;"><%=orderDetails[i].paymentMethod %></td>
                    <td style="text-align: center;"><%=orderDetails[i].paymentStatus %></td>
                    <td style="text-align: center;"><a style="color:cadetblue;" href="/admin/orderDetails?id=<%=orderDetails[i].orderID %>">Details..</a> 
                        
                     </td>
                  </form>
                  </tr>
                  <% } %>
                  
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <% for(let page = 1; page <= totalPages; page++){ %>
              <li class="page-item <%= currentPage === page ? 'active' : '' %>">
                <a class="page-link btn-primary" href="?page=<%=page%>"><%=page%></a>
              </li>
            <% } %>
          </ul>
        </nav>
      </div>
      <p style="padding-left: 300px; color: red; font-size: small;"><sup></sup>Total Price is including the delivery charges Rs1000</p>
      </section>
      <!-- content-main end// -->
    <%- include ('partialsAdminFooter') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>




    // ----------------------//
        // const statusDropdown = document.querySelectorAll('orderStatus');
        // const orderID = document.getElementById("orderId");

        // console.log(orderID);

        // statusDropdowns.forEach(dropdown => {
        //     dropdown.addEventListener('change', function() {
        //         const selectedStatus = dropdown.value;
        //         const orderId = dropdown.parentNode.querySelector('span').textContent.split(':')[1].trim();

        // dropdown.addEventListener('change', function() {
        //     const selectedValue = dropdown.value;

            // Make a fetch call to your backend endpoint
        //     fetch('/admin/updateOrderStatus', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify({ value: selectedValue })
        //     })
        //     .then(response => {
        //         if (!response.ok) {
        //             throw new Error('Network response was not ok');
        //         }
        //         // Handle success
        //         console.log('Value saved successfully.');
        //     })
        //     .catch(error => {
        //         // Handle error
        //         console.error('There was a problem saving the value:', error);
        //     });
        // });
        // })
    </script>


  </body>
</html>
