<%- include ('partialsAdminHead') %>
    <nav>
      <ul class="menu-aside">
        <li class="menu-item active">
          <a class="menu-link" href="/admin/dashboard">
            <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li class="menu-item ">
          <a class="menu-link" href="/admin/category">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Categories</span>
          </a>
        </li>
        <li class="menu-item ">
          <a class="menu-link" href="/admin/user">
            <i class="icon material-icons md-add_box"></i>
            <span class="text">Users</span>
          </a>
        </li>
        <li class="menu-item ">
          <a class="menu-link" href="/admin/product">
            <i class="icon material-icons md-add_box"></i>
            <span class="text">Products</span>
          </a>
        </li>
        
         <li class="menu-item">
          <a class="menu-link" href="/admin/order">
            <i class="icon material-icons md-store"></i>
            <span class="text">Orders</span>
          </a>
        </li>
        
        <li class="menu-item">
          <a class="menu-link" href="/admin/coupon">
            <i class="icon material-icons md-article"></i>
            <span class="text">Coupons</span>
          </a>
        </li>
      <br />
      <br />
    </nav>
  </aside>
  <main class="main-wrap">
    <header class="main-header navbar">
      <div class="col-search">
        <!-- <form class="searchform">
          <div class="input-group">
            <input
              list="search_terms"
              type="text"
              class="form-control"
              placeholder="Search term"
            />
            <button class="btn btn-light bg" type="button">
              
              <i class="material-icons md-search"></i>
            </button>
            
            </div>
          <datalist id="search_terms">
            
          </datalist>
        </form> -->
      </div>
      <div class="col-nav" onload="timeCount();">
        <p id="p1">
          
        </p>
        
    
</div>
      <div class="col-nav">
        
        <p>
          
          Welcome back, <%=name %> </p>
    
</div>


      <div class="col-nav">
            <li class="dropdown nav-item">
              <button class="btn btn-link" type="submit"> <a href="/admin/signout" ><i class="material-icons md-exit_to_app"></i>Logout</a></button>
          
            </li>
        </ul>
    </div>
      
    </header>
      <section class="content-main">
        <div class="content-header">
          <div>
            <h2 class="content-title card-title">Dashboard</h2>
            <p>Whole data about your business here</p>
          </div>
          <!-- <div>
            <a href="#" class="btn btn-primary"
              ><i class="text-muted material-icons md-post_add"></i>Create
              report</a
            >
          </div> -->
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="card card-body mb-4">
              <article class="icontext">
                <span class="icon icon-sm rounded-circle bg-primary-light"
                  ><i class="text-primary material-icons md-monetization_on"></i
                ></span>
                <div class="text">
                  <h6 class="mb-1 card-title">Revenue</h6>
                  <span>₹<%=sum_of_revenue %></span>
                  <span class="text-sm"> Including Shipping fees</span>
                </div>
              </article>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-body mb-4">
              <article class="icontext">
                <span class="icon icon-sm rounded-circle bg-success-light"
                  ><i class="text-success material-icons md-local_shipping"></i
                ></span>
                <div class="text">
                  <h6 class="mb-1 card-title">Orders</h6>
                  <span><%=orderData.length %></span>
                  <span class="text-sm"> All orders </span>
                </div>
              </article>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-body mb-4">
              <article class="icontext">
                <span class="icon icon-sm rounded-circle bg-warning-light"
                  ><i class="text-warning material-icons md-qr_code"></i
                ></span>
                <div class="text">
                  <h6 class="mb-1 card-title">Products</h6>
                  <span><%=productData.length %></span>
                  <span class="text-sm"> In <%=categoryData.length %> Categories </span>
                </div>
              </article>
            </div>
          </div>
          <div class="col-lg-3">
          <p>Download the reports</p>
            
            <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="cardOpt6"
                          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Sales Report
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                          <form id="reportForm" class="p-2" action="/admin/salesReport" method="post">
                            <h3 class="mb-3">Report</h3>
                            <div class="form-group">
                              <label for="startDate">Start Date:</label>
                              <input type="date" class="form-control" id="startDate" name="startDate">
                            </div>
                            <div class="form-group">
                              <label for="endDate">End Date:</label>
                              <input type="date" class="form-control" id="endDate" name="endDate">
                            </div>
                            <button class="btn btn-warning mt-3" type="submit">Download</button>
                          </form>
                        </div>
                      </div>
                      
            
              <!-- <article class="icontext">
                <span class="icon icon-sm rounded-circle bg-info-light"
                  ><i class="text-info material-icons md-shopping_basket"></i
                ></span>
                 <div class="text">
                  <h6 class="mb-1 card-title">Monthly Earning</h6>
                  <span>₹6,982</span>
                  <span class="text-sm"> Based on your local time. </span>
                </div> 
              </article> -->
            </div>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-xl-8 col-lg-12">
            <div class="card mb-4">
              <article class="card-body">
                <h5 class="card-title">Sale statistics</h5>
                <canvas id="myChart2" height="120px"></canvas>
              </article>
            </div>  
          </div> -->
          <div class="col-xl-4 col-lg-12">
            <!-- <div class="card mb-4">
              <article class="card-body">
                <h5 class="card-title">Revenue Base on Area</h5>
                <canvas id="myChart" height="217"></canvas>
              </article>
            </div> -->
            
        <!-- <div class="pagination-area mt-30 mb-50">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
              <li class="page-item active">
                <a class="page-link" href="#">01</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">02</a></li>
              <li class="page-item"><a class="page-link" href="#">03</a></li>
              <li class="page-item">
                <a class="page-link dot" href="#">...</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">16</a></li>
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="material-icons md-chevron_right"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div> -->
      </section>
      <!-- content-main end// -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script> -->
      <%- include ('partialsAdminFooter') %>
    
