<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/admin/assets/imgs/theme/logo.png"
    />
    <!-- Template CSS -->
    <link href="/admin/assets/css/main.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="screen-overlay"></div>
      <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
          <a href="index.html" class="brand-wrap">
            <img
              src="/admin/assets/imgs/theme/logo.png"
              class="logo"
              alt="getantiques"
            />
          </a>
        <div>
          <button class="btn btn-icon btn-aside-minimize">
            <i class="text-muted material-icons md-menu_open"></i>
          </button>
        </div>
    </div>
      
    
  <nav>
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/dashboard">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/category">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Categories</span>
        </a>
      </li>
      <li class="menu-item ">
        <a class="menu-link" href="/admin/user">
          <i class="icon material-icons md-store"></i>
          <span class="text">Users</span>
        </a>
      </li>
      <li class="menu-item ">
        <a class="menu-link" href="/admin/product">
          <i class="icon material-icons md-add_box"></i>
          <span class="text">Products</span>
        </a>
      </li>
      
       <li class="menu-item">
        <a class="menu-link" href="/admin/order">
          <i class="icon material-icons md-store"></i>
          <span class="text">Orders</span>
        </a>
      </li>
      
      <li class="menu-item active">
        <a class="menu-link" href="/admin/coupon">
          <i class="icon material-icons md-monetization_on"></i>
          <span class="text">Coupons</span>
        </a>
      </li> 
    <br />
    <br />
  </nav>
</aside>
<main class="main-wrap">
  <header class="main-header navbar">
    <div class="col-search">

    </div>
    <div class="col-nav" onload="timeCount();">
      <p id="p1">
        
      </p>
  
  </div>
    <div class="col-nav">
      
      <p>
        
        Welcome back, <%=name %> </p>
  
</div>


    <div class="col-nav">
          <li class="dropdown nav-item">
            <button class="btn btn-link" type="submit"> <a href="/admin/signout" ><i class="material-icons md-exit_to_app"></i>Logout</a></button>
        
          </li>
      </ul>
  </div>
    
  </header>
  <section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Coupon Edit</h2>
      
    </div>
    
  </div>
  
  </div>
  
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <!-- <h1 class="card-title text-center mb-4">Edit User</h1> -->
            <form action="/admin/edit-coupon-save" method="POST">
              <div class="form-group">
              
                <label style="color:brown">Update Coupon Name<sup style="color: red;">*</sup></label>
                   <input
                      class="form-control"
                      placeholder="Coupon Name"
                      v-model:value="couponName" pattern="[A-Za-z0-9]+"
                      type="text"
                      value="<%=couponData.name %>"
                      name="newCouponName" minlength="4"
                      required
                      onkeydown="if(['Space'].includes(arguments[0].code)){return false;}"
                      />
               <p><br></p>
                
              </div>
              <div class="form-group">
                <label style="color:brown">Update Expiry Date<sup style="color: red;">*</sup></label>
                <input class="form-control" type="date" id="inputdate" name="newExpiry" value="<%=couponData.expiry %>" required>
                
              </div>
              <br>
              <div class="form-group">
              <label style="color:brown">Change Discount Amount<sup style="color: red;">*</sup></label>
              <br>
              
                <input
                      class="form-control"
                      placeholder="Add a discount value"
                      v-model:value="discount" pattern="[0-9]+"
                      type="number"
                      value="<%=couponData.discount %>"
                      name="newDiscount"
                      id="discount"
                      min="50"
                      required
                      />
                  </div>
                <div class="form-group">
                <label style="color:brown">Minimum Cart Value<sup style="color: red;">*</sup></label>
                <br>
                <input
                      class="form-control"
                      placeholder="Minimum cart value to apply this coupon"
                      type="number"
                      name="newMinCartValue"
                      id="minCartValue"
                      min="100"
                      value="<%=couponData.minimum_cart_value %>"
                      required
                      />
                </div>
                  
              <br>
              <button type="submit" class="btn btn-primary btn-block" onclick="return validateForm()">
                Update 
              </button>
              <a style="margin:20%; color: red;" href="/admin/coupon">Go Back</a>
            </form>
             </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="main-footer font-xs">
  <div class="row pb-30 pt-15">
    <div class="col-sm-6">
      <script>
        document.write(new Date().getFullYear());

        function timeCount() {
            var today = new Date();
            var day = today.getDate();
            var month = today.getMonth() + 1;
            var year = today.getFullYear();
            var hour = today.getHours();
                  if (hour < 10) hour = "0" + hour;

            var minute = today.getMinutes();
                  if (minute < 10) minute = "0" + minute;

            var second = today.getSeconds();
                  if (second < 10) second = "0" + second;

            document.getElementById("p1").innerHTML =
            day +
            "/" +
            month +
            "/" +
            year +
            " |" +
            hour +
            ":" +
            minute +
            ":" +
            second;
        }

        setTimeout("timeCount()", 1000);
      </script>
      ©, getantiques.
    </div>
    <div class="col-sm-6">
      <div class="text-sm-end">All rights reserved</div>
    </div>
  </div>
</footer>
</main>
<!-- <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script> -->

<script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/admin/assets/js/vendors/select2.min.js"></script>
<script src="/admin/assets/js/vendors/perfect-scrollbar.js"></script>
<script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
<script src="/admin/assets/js/vendors/chart.js"></script>
<!-- Main Script -->
<script src="/admin/assets/js/main.js" type="text/javascript"></script>
<script src="/admin/assets/js/custom-chart.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.10.6/dist/sweetalert2.all.min.js
"></script>
</body>
<script>
// Jquery for disabling previous dates in form //
    $(function(){
    var dtToday = new Date();
 
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
     day = '0' + day.toString();
    var maxDate = year + '-' + month + '-' + day;
    $('#inputdate').attr('min', maxDate);
});

function validateForm(){
  console.log("Coupon validation");
  const value1= document.getElementById("discount").value;
  console.log(value1);
  console.log(typeof value1);
  const value2= document.getElementById("minCartValue").value;
  console.log(value2);
  console.log(typeof value2);
  if(Number(value1) >= Number(value2)){
    Swal.fire({
        text: "Discount value should be less than Minimum cart value.",

    })
    return false;
    
  }
  return true;
}


</script>

</html>

