  <%- include ('partialsAdminHead') %>
    <nav>
        <ul class="menu-aside">
          <li class="menu-item">
            <a class="menu-link" href="/admin/dashboard">
              <i class="icon material-icons md-home"></i>
              <span class="text">Dashboard</span>
            </a>
          </li>
          <li class="menu-item ">
            <a class="menu-link" href="/admin/category">
              <i class="icon material-icons md-shopping_bag"></i>
              <span class="text">Categories</span>
            </a>
          </li>
          <li class="menu-item active">
            <a class="menu-link" href="/admin/user">
              <i class="icon material-icons md-store"></i>
              <span class="text">Users</span>
            </a>
          </li>
          <li class="menu-item ">
            <a class="menu-link" href="/admin/product">
              <i class="icon material-icons md-add_box"></i>
              <span class="text">Products</span>
            </a>
          </li>
           <li class="menu-item">
            <a class="menu-link" href="/admin/order">
              <i class="icon material-icons md-store"></i>
              <span class="text">Orders</span>
            </a>
          </li>
          <li class="menu-item">
          <a class="menu-link" href="/admin/coupon">
            <i class="icon material-icons md-article"></i>
            <span class="text">Coupons</span>
          </a>
        </li>
        <br />
        <br />
      </nav>
    </aside>
    <main class="main-wrap">
      <header class="main-header navbar">
        <div class="col-search">

        </div>
        <div class="col-nav" onload="timeCount();">
          <p id="p1">
            
          </p>
      
      </div>
        <div class="col-nav">
          
          <p>
            
            Welcome back, <%=name %> </p>
      
  </div>


        <div class="col-nav">
              <li class="dropdown nav-item">
                <button class="btn btn-link" type="submit"> <a href="/admin/signout" ><i class="material-icons md-exit_to_app"></i>Logout</a></button>
            
              </li>
          </ul>
      </div>
        
      </header>
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Users</h2>
          <p>Access User details here.</p>
        </div>
        

          </div>
        </div>
        <header class="card card-body mb-4">
          <div class="row gx-3">
            <div class="col-lg-3 col-md-5 me-auto">
        <form action="/admin/searchUser" method="post">
        <%# if(search){%>
              <input type="text" placeholder="Search for a user.." class="form-control-lg" id="searchUser" name="searchUser" value="" />
              <%#}%>
              <button type="submit" class="btn btn-success mt-3 ml-2">Search</button>
                </form>
            </div>
        </div>
        </header>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            
            <div class="container mt-5">
              <div class="row">
                <table class="table table-striped" width="50%>">
                  <tr>
                    <th style="color:tomato;font-size: large; text-align: center; ">Username</th>
                    <th style="color:tomato;font-size: large; text-align: center; ">Email</th>
                    <!-- <th>Mobile</th> -->
                    <th style="color:tomato;font-size: large; text-align: center; ">Phone</th>
                    <th style="color:tomato;font-size: large; text-align: center; ">Restrict</th>
                  </tr>
                  <% for(let u of users) { %>
                  <tr>
                    <td style="text-align: center;"><%=u.username%></td>
                    <td style="text-align: center;"><%=u.email %> </td>
                    <td style="text-align: center;"><%=u.mobile%> </td>
                    </td>
                    
                    <td style="text-align: center;">
                    <% if(!u.hide){ %>
                    <button
                    style="background-color:darkorange;"
                      type="button"
                      id="<%=u._id %>"
                      onclick="toggleFunction('<%=u._id %>')"
                    >
                    Block
                  </button>
                  <% }else{ %>
                  <button
                    style="background-color:green;"
                      type="button"
                      id="<%=u._id %>"
                      onclick="toggleFunction('<%=u._id %>')"
                    >
                    Unblock
                  </button>
                  <% } %>
                    </td> 
                  </tr>
                  <% } %>
                  
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-start">
            <li class="page-item active">
              <a class="page-link" href="#">01</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">02</a></li>
            <li class="page-item"><a class="page-link" href="#">03</a></li>
            <li class="page-item">
              <a class="page-link dot" href="#">...</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">16</a></li>
            <li class="page-item">
              <a class="page-link" href="#"
                ><i class="material-icons md-chevron_right"></i
              ></a>
            </li>
          </ul>
        </nav>
      </div> -->
    </section>
    <%- include ('partialsAdminFooter') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
      // Function to be executed when the toggle button is clicked

      
        function toggleFunction(b) {
        console.log(b)
        $.ajax({
          url:"/admin/userHide",
          data:{
            id:b,
          },
          method:"post",
          dataType:'json',
          success:function(res){
            if(res){
              window.location.reload();
              console.log(res)
            }else{
              console.log('error')
            }
          }
        })
      }
      
    </script>
  </body>
</html>
    