<%- include ('partialsAdminHead') %>
<nav>
  <ul class="menu-aside">
    <li class="menu-item">
      <a class="menu-link" href="/admin/dashboard">
        <i class="icon material-icons md-home"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="/admin/category">
        <i class="icon material-icons md-shopping_bag"></i>
        <span class="text">Categories</span>
      </a>
    </li>
    <li class="menu-item ">
      <a class="menu-link" href="/admin/user">
        <i class="icon material-icons md-store"></i>
        <span class="text">Users</span>
      </a>
    </li>
    <li class="menu-item active">
      <a class="menu-link" href="/admin/product">
        <i class="icon material-icons md-add_box"></i>
        <span class="text">Products</span>
      </a>
    </li>
    <!-- WILL ADD IT IN COMING WEEK  -->
    <!-- <li class="menu-item">
      <a class="menu-link" href="index.html">
        <i class="icon material-icons md-store"></i>
        <span class="text">Orders</span>
      </a>
    </li>
    
    <li class="menu-item">
      <a class="menu-link" href="page-transactions-1.html">
        <i class="icon material-icons md-monetization_on"></i>
        <span class="text">Coupons</span>
      </a>
    </li> -->
  <br />
  <br />
</nav>
</aside>
    <main class="main-wrap">
      <header class="main-header navbar">
        <div class="col-search">
          <!-- <form class="searchform">
            <div class="input-group">
              <input
                list="search_terms"
                type="text"
                class="form-control"
                placeholder="Search term"
              />
              <button class="btn btn-light bg" type="button">

                <i class="material-icons md-search"></i>
              </button>
            
            </div>
            <datalist id="search_terms">
              
            </datalist>
          </form> -->
        </div>
        <div class="col-nav" onload="timeCount();">
          <p id="p1">
            
          </p>
      
  </div>
        <div class="col-nav">
          
          <p>
            
            Welcome back, <%=name %> </p>
      
  </div>


        <div class="col-nav">
              <li class="dropdown nav-item">
                <button class="btn btn-link" type="submit"> <a href="/admin/signout" ><i class="material-icons md-exit_to_app"></i>Logout</a></button>
            
              </li>
          </ul>
      </div>

      </header>
      <section class="content-main">
        <div class="content-header">
          <div>
            <h2 class="content-title card-title">Products grid</h2>
            <p>Add, update or pause product/s here.</p>
          </div>
          <div>
            
            <a href="/admin/addProduct" class="btn btn-primary btn-sm rounded">Add Product</a>
          </div>
        </div>
        <header class="card card-body mb-4">
          <div class="row gx-3">
            <div class="col-lg-4 col-md-6 me-auto">
              <input type="text" placeholder="Search..." class="form-control" />
            </div>
          </div>
        </header>
        <!-- card-header end// -->
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card card-product-grid">
            <% for(let p of product) { %>
              <a href="https://www.yahoo.com" class="img-wrap">
                <img src="assets/imgs/items/1.jpg" alt="Product" />
              </a>
              <div class="info-wrap">
                <div class="dropdown float-end">
                  <a href="https://www.google.com" class="btn btn-sm btn-brand rounded">
                    <i class="material-icons md-edit mr-5"></i>Edit
                  </a>
                </div>
                <p class="title"><%=p.name %></p>
                <div class="price mt-1">₹<%=p.rate %></div>
                <!-- price-wrap.// -->
              </div>
            </div>
            <!-- card-product  end// -->
          </div>
          <% } %>
        </div>
        <!-- row.// -->
        <div class="pagination-area mt-15 mb-50">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
              <li class="page-item active">
                <a class="page-link" href="#">01</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">02</a></li>
              <li class="page-item"><a class="page-link" href="#">03</a></li>
              <li class="page-item">
                <a class="page-link dot" href="#">...</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">16</a></li>
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="material-icons md-chevron_right"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div>
      </section>
      <!-- content-main end// -->
    <%- include ('partialsAdminFooter') %>
  </body>
</html>
