<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>getantiques</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free HTML Templates" name="keywords" />
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="/user/img/logo.png" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link> 

    <!-- Libraries Stylesheet -->
    <!-- <link
      href="../user/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    /> -->

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/user/css/style.css" rel="stylesheet" />

    <style>
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .card {
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        padding: 10px;
        margin: 10px;
        width: 1250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
      }

      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }

      h2 {
        color: #333;
      }

      p {
        color: #666;
      }

      @media (max-width: 768px) {
        .card {
          width: calc(50% - 20px);
        }
      }

      @media (max-width: 480px) {
        .card {
          width: calc(100% - 20px);
        }
      }

      .cancelButton {
            background-color:tomato; /* Coral */
            color: #fff; /* White */
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }


    </style>
  </head>

  <body>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 110px"
      >
        <h1 class="font-weight-semi-bold text-capitalize mb-3">Orders</h1>
        <div class="d-inline-flex">
          <p class="m-0"><a href="/">Home</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0"><a href="/account">Account</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0"><a href="/account/order">Order History</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0">Details</p>

        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Container Cards Start -->
    <!-- <div class="w-25" style="margin-left: 40%"> -->
    <h3 style="margin-left: 10%;">Order # : <%=eachOrderDetails.orderID %></h3>
    <br><br>
    <h5 style="margin-left: 20%;">Shipping Details:</h5>
    <h6 style="margin-left: 25%;">Address: <span style="font-size: small;"><b><%=eachOrderDetails.address.customerName %></b>, <%=eachOrderDetails.address.houseName %>, <%=eachOrderDetails.address.street %>, <%=eachOrderDetails.address.city %>, <%=eachOrderDetails.address.state %>, <%=eachOrderDetails.address.country %>-<%=eachOrderDetails.address.pincode %></span></h6>
    <h6 style="margin-left: 25%;">Contact: <span style="font-size: small;"><%=eachOrderDetails.address.mobile %> </span></h6>
    <!-- <h6 style="margin-left: 40%;"> <span style="font-size: small; color:violet;">A delivery charge of ₹1000 is charged on this order. </span></h6> -->
    <% if(eachOrderDetails.discount) {%>
    <h6 style="margin-left: 40%;"><span style="font-size: small;">You used a coupon worth ₹<%=eachOrderDetails.discount%>..</span></h6>
    <% } %>
    <div class="container">
    
      <div class="card" style="cursor: default;" >
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="align-items: center;">#</th>
              <th scope="col" style="width: 210px; text-align:center;">Product Name</th>
              <th scope="col" style="text-align:center; width: 200px;">Image</th>
              <th scope="col" style="width: 150px; text-align:center;" >Price</th>
              <!-- <th scope="col">Image</th> -->
              <th scope="col" style="width: 150px; text-align:center;" >Quantity</th>
              <th scope="col" style="text-align:center;">Total</th>
              <th scope="col" style="width: 180px; text-align:center;">Status</th>
              <!-- <th scope="col" style="text-align:center;">cancel</th> -->
               </tr>
          </thead>
          <tbody>
          <% for(let i=0;i<orderData.length;i++){ %>
            <tr>
              <td style="padding-top: 50px;"><%=i+1 %></td>
              <td style="text-align:center; padding-top: 50px;"><%=orderData[i].productName %></td>
              <td style="text-align: center; padding-bottom: 30px;"><img src="<%=orderData[i].productImage %>" style="padding:15%;" height="100px" width="100px" >  </td>
              <td style="text-align:center; padding-top: 50px;">₹<%=orderData[i].productPrice %></td>
              <td style="text-align:center; padding-top: 50px;"><%=orderData[i].productCartQuantity %></td>
              <td style="text-align:center; padding-top: 50px;">₹ <%=orderData[i].total %></td>
              <% if(eachOrderDetails.paymentStatus === "Failed"){ %>
              <td style="text-align:center; padding-top: 50px;">Failed</td>
              <% } else if (eachOrderDetails.paymentStatus === "Success"){ %>
                <td style="text-align:center; padding-top: 50px;"><%=orderData[i].productStatus %></td>
                <% } %>
              <td style="text-align:center; padding-top: 50px;">
                      <!-- <form action="/account/order/<%#=orderHistory[i].orderID %>" method="post"> -->
                      <% if((orderData[i].productStatus === "Failed") || (orderData[i].productStatus === "Cancelled") || (orderData[i].productStatus === "Return Initiated") || (orderData[i].productStatus === "Return Accepted") || (orderData[i].productStatus === "Return Rejected") ||(eachOrderDetails.paymentStatus === "Failed")){ %>
                      <button class="btn btn-primary btn-sm" type="button" hidden>Cancel</button>
                      <% }  else if(orderData[i].productStatus === 'Delivered'){ %>
                      <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Return</button>
                      <!-- Modal for Return reason -->
                        
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <form action="/account/productReturn/<%=eachOrderDetails.orderID %>?product=<%=orderData[i].productID%>" method="post">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3 class="modal-title fs-5" id="exampleModalLabel">Return Product</h3>
                                                            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                                        </div>
                                                        <div class="modal-body">
                                                            <label class="form-control-label">Let us know what went wrong</label>
                                                            <input type="text" class="form-control" name="reason" id="reason" minlength="6" placeholder="Please enter your reason here." required onkeydown="if(arguments[0].code === 'Space' && document.getElementById('reason').value.length === 0) { return false; }"
>
                                                            
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-warning">Save changes</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                      <!-- End of Modal-->
                      <% }else if(orderData[i].productStatus === "Placed" || "Shipped" || "Out for Delivery"){ %>
                      <button class="btn btn-primary btn-warning-light" data-product-id="<%=eachOrderDetails.orderID %>-<%=orderData[i].productID%>" type="button">Cancel</button>
                      <% } %>
                      </form>
            </tr>
            <%} %>
          </tbody>
        </table>
        
      </div>
    </div>
    <div class="container-fluid"><br /><br /><br /><br /><br />
    
    <br /></div>

    <!-- <a href="#" class="btn btn-primary back-to-top">
        <i class="fa fa-angle-double-up"></i>
      </a> -->
    <!-- </div> -->
    <!-- Container Cards End -->
    <!-- <div class="container">
      <div class="card">
        <a href="#">
          <img src="../user/img/purchase.png" alt="Card Image" />
          <h2>Orders</h2>
          <p>All about your orders</p>
        </a>
      </div>
    </div> -->

    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
      <div class="col-md-6 px-xl-0">
        <p class="mb-md-0 text-center text-md-left text-dark">
          &copy;
          <a class="text-dark font-weight-semi-bold" href="#">getantiques</a>.
          All Rights Reserved. Designed by
          <a
            class="text-dark font-weight-semi-bold"
            href="https://htmlcodex.com"
            >HTML Codex</a
          >
          <br />
          Distributed By
          <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
        </p>
      </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"
      ><i class="fa fa-angle-double-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.6/dist/sweetalert2.all.min.js"></script>  
    <!-- <script src="../user/lib/easing/easing.min.js"></script>
    <script src="../user/lib/owlcarousel/owl.carousel.min.js"></script> -->

    <!-- Contact Javascript File -->
    <!-- <script src="../user/mail/jqBootstrapValidation.min.js"></script>
    <script src="../user/mail/contact.js"></script> -->

    <!-- Template Javascript -->
    <!-- <script src="../user/js/main.js"></script> -->
    <script>
    document.addEventListener("DOMContentLoaded", function() {
  const deleteButtons = document.querySelectorAll(".btn-warning-light");
  deleteButtons.forEach(function(button) {
    button.addEventListener("click", function() {
      const cancelData = button.dataset.productId;
      console.log("cancelData is: ", cancelData);
      
      let splitValues = cancelData.split("-");
      let orderID = splitValues[0];
      let  productID = splitValues[1];

      console.log("productID is ", productID);
      console.log("orderID is ", orderID);
    
    Swal.fire({
        title: 'Are you sure?',
        text: "You are about to cancel this product.",
        // icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Proceed'
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/cancelProduct`,{
            method:'post',
            headers: {
                    'Content-Type': 'application/json',
                },
                  body: JSON.stringify({
                    productId: productID,  
                    orderID: orderID
                    }),
          })  // fetch closed //
          .then(response => {
                    if (!response.ok) {
                      console.log("is this working???");
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                }).then(data=>{
                  if(data.message){
                    console.log("ghjgkhkgjfhjhk");
                    window.alert(data.message);
                    window.location.reload();
                  }
                })
        }   // if closed //
      });  //.then closed//
    }); // addEventListener button closed //
  });  //forEach closed//
});    //addEventListener closed //
    
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
  </body>
</html>
