<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>getantiques</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free HTML Templates" name="keywords" />
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="/user/img/logo.png" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <!-- <link
      href="../user/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    /> -->

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/user/css/style.css" rel="stylesheet" />

    <style>
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .card {
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        padding: 10px;
        margin: 10px;
        width: 1250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
      }

      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }

      h2 {
        color: #333;
      }

      p {
        color: #666;
      }

      @media (max-width: 768px) {
        .card {
          width: calc(50% - 20px);
        }
      }

      @media (max-width: 480px) {
        .card {
          width: calc(100% - 20px);
        }
      }

      .cancelButton {
            background-color:tomato; /* Coral */
            color: #fff; /* White */
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }


    </style>
  </head>

  <body>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 110px"
      >
        <h1 class="font-weight-semi-bold text-capitalize mb-3">Orders</h1>
        <div class="d-inline-flex">
          <p class="m-0"><a href="/">Home</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0"><a href="/account">Account</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0"><a href="/account/order">Order History</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0">Details</p>

        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Container Cards Start -->
    <!-- <div class="w-25" style="margin-left: 40%"> -->
    <h3 style="margin-left: 10%;">Order # : <%=eachOrderDetails.orderID %></h3>
    <br><br>
    <h5 style="margin-left: 20%;">Shipping Details:</h5>
    <h6 style="margin-left: 25%;">Address: <span style="font-size: small;"><%=eachOrderDetails.address.customerName %>, <%=eachOrderDetails.address.houseName %>, <%=eachOrderDetails.address.street %>, <%=eachOrderDetails.address.city %>, <%=eachOrderDetails.address.state %>, <%=eachOrderDetails.address.country %>-<%=eachOrderDetails.address.pincode %></span></h6>
    <h6 style="margin-left: 25%;">Contact: <span style="font-size: small;"><%=eachOrderDetails.address.mobile %> </span></h6>
    <div class="container">
    
      <div class="card" style="cursor: default;" >
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="align-items: center;">#</th>
              <th scope="col" style="width: 210px; text-align:center;">Product Name</th>
              <th scope="col" style="text-align:center; width: 200px;">Image</th>
              <th scope="col" style="width: 150px; text-align:center;" >Price</th>
              <!-- <th scope="col">Image</th> -->
              <th scope="col" style="width: 150px; text-align:center;" >Quantity</th>
              <th scope="col" style="text-align:center;">Total</th>
              <th scope="col" style="width: 180px; text-align:center;">Status</th>
              <!-- <th scope="col" style="text-align:center;">cancel</th> -->
               </tr>
          </thead>
          <tbody>
          <% for(let i=0;i<eachOrderDetails.products.length;i++){ %>
            <tr>
              <td style="padding-top: 50px;"><%=i+1 %></td>
              <td style="text-align:center; padding-top: 50px;"><%=aaaaa[i].name %></td>
              <td style="text-align: center; padding-bottom: 30px;"><img src="<%=aaaaa[i].image[0] %>" style="padding:15%;" height="100px" width="100px" >  </td>
              <td style="text-align:center; padding-top: 50px;">₹<%=aaaaa[i].rate %></td>
              <td style="text-align:center; padding-top: 50px;"><%=eachOrderDetails.products[i].product_quantity %></td>
              <td style="text-align:center; padding-top: 50px;">₹ <%=aaaaa[i].rate*eachOrderDetails.products[i].product_quantity %></td>
              <td style="text-align:center; padding-top: 50px;"><%=eachOrderDetails.status %></td>
              <td style="text-align:center; padding-top: 50px;">
                      <form action="/account/order/<%#=orderHistory[i].orderID %>" method="post">
                        <!-- <input type="hidden" value="<%#=p.name%>" name="oldName">  -->
                        <% if (eachOrderDetails.status == "Delivered"){ %> 
                        <button class="btn btn-primary btn-sm" type="button">Return</button>
                          <% } else if(eachOrderDetails.status == "Cancelled"){ %>
                          <button class="btn btn-primary btn-sm" type="button" hidden>Cancel</button>
                          <% } else { %>
                        <a href="/cancel/<%=eachOrderDetails.orderID %>"><button class="btn btn-primary btn-sm" type="button">Cancel</button></a>
                        <% } %>
                      </form>
            </tr>
            <%} %>
          </tbody>
        </table>
        
      </div>
    </div>
    <div class="container-fluid"><br /><br /><br /><br /><br />
    
    <br /></div>

    <!-- <a href="#" class="btn btn-primary back-to-top">
        <i class="fa fa-angle-double-up"></i>
      </a> -->
    <!-- </div> -->
    <!-- Container Cards End -->
    <!-- <div class="container">
      <div class="card">
        <a href="#">
          <img src="../user/img/purchase.png" alt="Card Image" />
          <h2>Orders</h2>
          <p>All about your orders</p>
        </a>
      </div>
    </div> -->

    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
      <div class="col-md-6 px-xl-0">
        <p class="mb-md-0 text-center text-md-left text-dark">
          &copy;
          <a class="text-dark font-weight-semi-bold" href="#">getantiques</a>.
          All Rights Reserved. Designed by
          <a
            class="text-dark font-weight-semi-bold"
            href="https://htmlcodex.com"
            >HTML Codex</a
          >
          <br />
          Distributed By
          <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
        </p>
      </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"
      ><i class="fa fa-angle-double-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="../user/lib/easing/easing.min.js"></script>
    <script src="../user/lib/owlcarousel/owl.carousel.min.js"></script> -->

    <!-- Contact Javascript File -->
    <!-- <script src="../user/mail/jqBootstrapValidation.min.js"></script>
    <script src="../user/mail/contact.js"></script> -->

    <!-- Template Javascript -->
    <!-- <script src="../user/js/main.js"></script> -->
    <script>
//     function confirmAction() {
//     const reason = window.prompt("Please enter the reason for cancelling:"); // Display a prompt dialog to get the reason

//     // Check if the user entered a reason
//     if (reason !== null) {
        
//         const confirmed = window.confirm("Are you sure you want to perform this action?\nReason: " + reason); // Display a confirmation dialog
        
//         // Check if the user clicked OK in the confirmation dialog
//         if (confirmed) {
//             alert("Action confirmed!");
//             // Perform your action here
//         } else {
//             alert("Action canceled!");
//             // Handle cancelation or do nothing
//         }
//     } else {
//         alert("Action canceled!");
//         // Handle cancelation or do nothing
//     }
// }
    
    </script>
  </body>
</html>
