<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>getantiques</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free HTML Templates" name="keywords" />
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="/user/img/logo.png" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="/user/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/user/css/style.css" rel="stylesheet" />

    <style>
      .container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }

      .card {
        width: calc(33.33% - 20px);
        margin: 10px;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .card a {
        text-decoration: none;
        color: black;
      }

      .card a h2 {
        color: red;
      }

      @media (max-width: 768px) {
        .card {
          width: calc(50% - 20px);
        }
      }

      @media (max-width: 480px) {
        .card {
          width: calc(100% - 20px);
        }
      }
    </style>
  </head>

  <body>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 180px"
      >
        <h1 class="font-weight-semi-bold text-capitalize mb-3">Edit Address</h1>
        <div class="d-inline-flex">
          <p class="m-0"><a href="/">Home</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0"><a href="/account">Account</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0">Edit Address</p>
        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- <%# if(data_exist){ %>
    <p id="alreadyUser" style="color: red; text-align: center">
      <%#=data_exist%>
    </p>
    <%#}%> -->
    <!-- Container Cards Start -->
    <div class="container justify-content-end">
      <form action="/account/updateAddress" method="post">
        <div class="row mb-6 w-75">
          <div class="col-md-6 mb-4">
            <label for="one" class="form-label"
              >Full name<sup style="color: red">*</sup></label
            >
            <input
              type="text"
              class="form-control"
              id="Fullname"
              name="Fullname"
              placeholder="Enter the name"
              minlength="5"
              maxlength="15"
              required
              value="<%=data.customerName%>"
            />
          </div>
          <div class="col-md-6 mb-4">
            <label for="two" class="form-label"
              >Mobile number<sup style="color: red">*</sup></label
            >
            <input
              type="text"
              class="form-control"
              id="mobile"
              name="mobile"
              placeholder="Enter the contact number"
              maxlength="10"
              required
              value="<%=data.mobile%>"
            />
          </div>

          <div class="col-md-6 mb-4">
            <label for="three" class="form-label"
              >House name<sup style="color: red">*</sup></label
            >
            <input
              type="text"
              class="form-control"
              id="house"
              name="house"
              maxlength="14"
              placeholder="Enter the house name"
              required
              value="<%=data.houseName%>"
            />
          </div>
          <div class="col-md-6 mb-4">
            <label for="four" class="form-label"
              >Street<sup style="color: red">*</sup></label
            >
            <input
              type="text"
              class="form-control"
              id="street"
              name="street"
              maxlength="15"
              placeholder="Enter the street name"
              required
              value="<%=data.street%>"
            />
          </div>
          <div class="col-md-6 mb-4">
            <label for="five" class="form-label"
              >City<sup style="color: red">*</sup></label
            >
            <input
              type="text"
              class="form-control"
              id="city"
              name="city"
              maxlength="15"
              placeholder="Enter the city name"
              required
              value="<%=data.city%>"
            />
          </div>
          <div class="col-md-6 mb-4">
            <label for="inputField2" class="form-label"
              >State<sup style="color: red">*</sup></label
            >
            <select
              id="state"
              class="form-control form-control-sm custom-select"
              aria-label="Search"
              aria-labelledby="state"
              name="state"
              required
            >
              <option selected value="" disabled>Choose One</option>
              <option value="Andhra Pradesh">Andhra Pradesh</option>
              <option value="Karnataka">Karnataka</option>
              <option value="Kerala">Kerala</option>
              <option value="Telangana">Telangana</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
            </select>
          </div>
          <div class="col-md-6 mb-4">
            <label for="inputField2" class="form-label"
              >Country<sup style="color: red">*</sup></label
            >
            <select
              id="country"
              class="form-control form-control-sm custom-select"
              aria-label="Search"
              aria-labelledby="country"
              name="country"
              required
            >
              <option selected value="" disabled>Choose One</option>
              <option value="India">India</option>
            </select>
          </div>
          <div class="col-md-6 mb-4">
            <label for="six" class="form-label"
              >Pincode<sup style="color: red">*</sup></label
            >
            <input
              type="text"
              class="form-control"
              id="inputField3"
              required
              placeholder="Enter the pincode"
              maxlength="6"
              name="pincode"
              value="<%=data.pincode %>"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>

    <!-- Container Cards End -->
    <!-- <div class="container">
      <div class="card">
        <a href="#">
          <img src="../user/img/purchase.png" alt="Card Image" />
          <h2>Orders</h2>
          <p>All about your orders</p>
        </a>
      </div>
    </div> -->

    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
      <div class="col-md-6 px-xl-0">
        <p class="mb-md-0 text-center text-md-left text-dark">
          &copy;
          <a class="text-dark font-weight-semi-bold" href="#">getantiques</a>.
          All Rights Reserved. Designed by
          <a
            class="text-dark font-weight-semi-bold"
            href="https://htmlcodex.com"
            >HTML Codex</a
          >
          <br />
          Distributed By
          <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
        </p>
      </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"
      ><i class="fa fa-angle-double-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../user/lib/easing/easing.min.js"></script>
    <script src="../user/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="../user/mail/jqBootstrapValidation.min.js"></script>
    <script src="../user/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="../user/js/main.js"></script>
    <!-- <script>
      var nameError = document.getElementById("name-error");
      var teleError = document.getElementById("tele-error");
      var updateError = document.getElementById("update-error");
      var dobError = document.getElementById("dob-error");

      function validateUserName() {
        var name = document.getElementById("username").value;
        if (name.length == 0) {
          nameError.style.color = "red";
          nameError.innerHTML = "Name is required";
          return false;
        }
        if (!name.match(/^[A-Za-z].{4,}$/)) {
          nameError.style.color = "red";
          nameError.innerHTML = "Minimum 5 characters needed";
          return false;
        }

        nameError.innerHTML = "valid";
        if ((nameError.innerHTML = "valid")) {
          nameError.style.color = "green";
        }
        return true;
      }

      function validatePhone() {
        var phone = document.getElementById("tele").value;
        if (phone.length === 0) {
          teleError.style.color = "red";
          teleError.innerHTML = "Mobile number is required";
          return false;
        } else if (!phone.match(/^[0-9]{10}$/)) {
          teleError.style.color = "red";
          teleError.innerHTML = "Please enter only numbers";
          return false;
        }
        teleError.innerHTML = "valid";
        if ((teleError.innerHTML = "valid")) {
          teleError.style.color = "green";
        }

        return true;
      }

      function validateDOB() {
        var dobirth = document.getElementById("dob").value;
        var inputDate = new Date(dobirth);
        var minDate = new Date("1950-01-01");
        var maxDate = new Date();
        if (!dobirth) {
          dobError.style.color = "red";
          dobError.innerHTML = "DOB cant be avoided";
          return false;
        }

        if (dobirth) {
          if (inputDate < minDate || inputDate > maxDate) {
            dobError.style.color = "red";
            dobError.innerHTML = "Date must be between 1950-01-01 and today";
            return false;
          } else {
            dobError.style.color = "green";
            dobError.innerHTML = "valid";
            return true;
          }
        }
      }

      function validateForm() {
        if (!validateUserName() || !validatePhone() || !validateDOB()) {
          updateError.style.display = "block";
          updateError.innerHTML = "All fields required";
          setTimeout(() => {
            updateError.style.display = "none";
          }, 2000);
          return false;
        }
      }

      setTimeout(() => {
        var ab = document.getElementById("alreadyUser");
        ab.style.display = "none";
      }, 2000);
    </script> -->
  </body>
</html>
